.css-yrdy0g-MuiDataGrid-columnHeaderRow {
  background: rgb(71, 118, 145);
  font-size: 0.9rem;
  color: white;
  width: 100%;
  font-weight: bold;
}
.MuiTableRow-root .MuiTableRow-head .css-1q1u3t4-MuiTableRow-root {
  background: rgb(71, 118, 145);
  font-size: 0.9rem;
  color: white;
  width: 100%;
  font-weight: bold;
}
